<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トラベルノートの追加</title>
<link rel="stylesheet" type="text/css" href="/css/style2.css">

<style>
		.push {
			transform: translate(-50%, -50%);
			font-size: 15px;
			font-weight: bold;
			padding: 10px;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 10px;
		}

		input.push:hover {
			background-color: #45496a;
			color: white;
		}
	</style>

</head>
<body>
	<header th:replace="header"></header>
	<h1 class="pref">トラベルノートの追加</h1>
	<form method="post" th:action="@{|/uploadimgfile/${uid}|}" enctype="multipart/form-data" th:object="${fileForm}">
	<table border="1">
		<tr>
			<th>タイトル</th>
			<td><input type="text" name="title" th:value="${title}" maxlength="20"></td>
		</tr>
		<tr>
			<th>見出し</th>
			<td><input type="text" name="memo" th:value="${memo}" maxlength="20"></td>
		</tr>
		<tr>
			<th>記事</th>
			<td><input type="text" name="article" th:value="${article}" maxlength="4000"></td>
		</tr>
		<tr>
			<th>画像</th>
			<td>
					<input type="file" th:field="*{multipartFile}" multiple>
					<input type="submit" value="アップロード">
			</td>
		</tr>
		</form>
		
		<th:block th:if="${pathForSave}!=null" th:each="path : ${pathForSave}">
			<tr>
				<th>画像</th>
				<td>
					<img th:src=${path}>
				</td>
			</tr>
		</th:block>
	</table>
	
	<form th:action="|/savenote/${@account.email}|" method="post" id="oneofnote">
		<input class="push" type="submit" value="ノートを追加する">
		<br>
	</form>	
	<footer th:replace="footer">
</body>
</html>